<% if !flash.empty? %>
    $('.messages').html("<p class='alert alert-danger'><%=escape_javascript(notice)%></p>");
    $('#day').html("");
    $('#location').html("");
    $('#date').html("");
    $('#temp').html("");
    $('#conds').html("");
    $('#precip').html("");
<% else %>
    $('.messages').html("");
    $('#day').html("<%= escape_javascript(@day) %>");
    $('#location').html("<%= escape_javascript(@location) %>");
    $('#date').html("<%= escape_javascript(@date) %>");
    $('#temp').html("<%= escape_javascript(@temp_f) %>&deg;F / <%= escape_javascript(@temp_c) %>&deg;C");
    $('#conds').html("<%= escape_javascript(@skytext) %>");
    $('#precip').html(" <%= escape_javascript(@humidity) %>&#37;").prepend("<img src='http://5DayWeather.org/images/dropblack.png'/>");

    var geocoding  = new google.maps.Geocoder();
    codeAddress(geocoding);
<% end %>
